//CONTENT

//variables

//styles

.main-container{
    width:70%;    
    @include margin-auto;
    max-width: 60rem;
    @media #{$information-large-size}{
        width:90%;       
    }
}
.section{
    margin-top: 3rem;
}
.small-column{
    z-index: 2;
    width:76%;
    @media #{$information-large-size}{
        width: 100%;           
    }
}    
//offer-section
.offer{
    display: flex;
    align-items: flex-start;
    height: 100%;
    @media #{$information-large-size}{
        flex-direction: column;      
    }
    
    &__lists{
        display: flex;
        text-transform: uppercase;
        
        @media #{$information-medium-size}{
            flex-direction: column;
            margin-bottom: 2rem;
        }
    }  
    
    &__section-lists{
        width:35%;
        @media #{$information-medium-size}{
            width:100%;      
        }        
    }
    
    &__list{
        padding: 0 2rem 3rem 0;
    }
    
    &__item{
        padding:1.5rem 0;
        border-bottom: 0.0625rem solid $base__color;
        
        &--last{
            border-bottom: 0;
        }
    }
    &__text{
        width:76%;
        z-index: 2;
        @media #{$information-large-size}{
            width: 100%;      
        }
    }
    &__graphics-container{    
        align-self: flex-end;
        margin:0 0 -15% -5%;
        z-index: 1;    
        width: 34%;
        @media #{$information-large-size}{
            margin: 0;
            align-self: center;
            padding-top: 2.5rem;
            width:auto;
            
            
        }
    }
    &__graphics{
        position: relative;
        height:40%;
        
        
        &::before{
            @include circle(-16%);
            top:-8%;    
        }
    }
    &__graphics-figcaption{
        text-transform: uppercase;
        letter-spacing: 0.125em;
    }
    &__img{
        max-height: 25em;
        width: 100%;

        
    }
}

//about-seection
.about{
    width: 100%;
    min-height: 100vh;
    background-image: url(.././hello-minimal/assets/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 2rem 0;
}

//contact-section
.contact{
    padding-bottom: 2rem;
    
    &__container{
        display: flex;
        @media #{$information-large-size}{
            flex-direction: column;      
        }
    }
    &__form-container{
        flex: 1;   
    }
    &__form{
        padding: 2rem 0;
        @include margin-auto;
    }
    
    &__info{
        position: relative;
        flex:1;
        margin-left:15%;
        @media #{$information-large-size}{
            @include margin-auto;      
        }

        &::before{
            @include circle(-14%);
            bottom: 15%;            
        }        
    }
    &__img{            
            @media #{$information-large-size}{
                width:100%;      
            }
        }
    
}
