//HEADER

//variables
$header-title__font-size: 2.4rem;
$header-title-studio__font-size: 0.7rem;

$header-subtitle__font-size:3.5rem;

//styles
.header{
    background-image: url('.././hello-minimal/assets/herobanner.jpg');
    background-size:cover;
    background-position: center bottom;
    height: 60vh;
    
    &__title{
        font-family: $secondary__font-family;
        font-size: $header-title__font-size;
        text-align: center;
        line-height: 0.6;
        letter-spacing: 0.135em;    
        width: 100%;
        @media #{$information-medium-size}{
             font-size:2.4rem;    
        }
        
        @media #{$information-small-size}{
            margin-top:5%; 
            width: 100%;    
        }
    }
        &__title-studio{
            text-transform: uppercase;
            font-size: $header-title-studio__font-size;
            font-family: $tertiary__font-family;
            letter-spacing: 0.125em;
        }
    
        &__subtitle{
            font-size: $header-subtitle__font-size;
            font-family:$secondary__font-family;
            text-align: center;    
            white-space: nowrap; 
            transform: translateY(0.2em);
            @media #{$information-medium-size}{
                font-size:2.5rem;
                transform: translateY(0.4em);
            }
        }
        &__subtitle-bg{
            background: rgba(255, 255, 255, 0.7);
            height: 3rem;
            width:min-content;
            width:-webkit-min-content;
            width:-moz-min-content;
            margin: 5rem auto; 
        }
} 