//VARIABLES

//colors

$base__color: #e2e2e2;
$secondary__color:#fff;

//breakpoints
$information-small-size: "only screen and (max-width :34.375rem)";//550px//
$information-medium-size: "only screen and (max-width :37.5rem)";//600px//
$information-large-size: "only screen and (max-width :53.125rem)";//850px//

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";